<section class="card mb-6">

    <a href="/blog/{{id}}"></a>

    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">{{content}}</p>
        <p class="card-text">Written by: {{user.username}}</p>
        <p class="card-text">Date Created:{{format_time date_created}}</p>


        
    </div>
   
            </section>


