<section class="card mb-6">

    <a href="/blog/{{id}}"></a>

    <div class="card-content">

        {{blog.title}}
    </div>
    <div>
        <b>{{user.username}}</b> |
        {{!-- | {{format_date date_created}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment"
            comments.length}}</a> --}}
    </div>

    </secti>