{{#each blogs as |blog|}}
<div class="card mb-6 maincards">


    <h4 class="card-header">{{title}}</h4>
      <div class="card-body">
    <p class="card-text">{{content}}</p>
    <p class="card-text">Written by: {{user.username}}</p>
    <p class="card-text">Date Created:{{format_time date_created}}</p>
    <a href="/blog/{{id}}" class="btn btn-primary">See More</a>



  </div>

</div>
{{/each}}